<p id="danger"><%= t(danger) %></p>
<p id="success"><%= t(success) %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path(column: 'created_at', order: 'desc') %>
