<div class="container ">
  <div class="vertical-center">
    <div class="row">
      <div class="col-sm-8 offset-2">
        <div class="card">
          <div class="card-body">
            <h4 class="text-center">Fakebook</h4>

            <% if flash[:success] %>
              <div class="alert alert-success">
                <%= flash[:success] %>
              </div>
            <%end%>

            <% if flash[:danger] %>
              <div class="alert alert-danger">
                <%= flash[:danger] %>
              </div>
            <%end%>

            <% if @user.errors.any? %>
              <div class="alert alert-danger">
                <ul>
                  <% @user.errors.full_messages.each do |m| %>
                    <li> <%= m %> </li>
                  <%end%>
                </ul>
              </div>
            <%end%>



            <%= form_for @user,url: register_path, html: { multipart: true }  do |f| %>
              <div class="mb-3">
                <%= f.text_field :username, class:'form-control', placeholder: "Nom d'utilisateur" %>
              </div>
              <div class="mb-3">
                <%= f.text_field :email, type: 'e-mail', class:'form-control', placeholder: "E-mail" %>
              </div>
              <div class="mb-3">
                <%= f.password_field :password, class:'form-control', placeholder: "Mot de passe" %>
              </div>
              <div class="mb-3">
                <%= f.password_field :password_confirmation, class:'form-control', placeholder: "Confirmer le mot de passe" %>
              </div>
              <div class="d-grid gap-2">
                <%= f.submit "S'inscrire", disable_with: 'Submiting...', class:'btn btn-success' %>
              </div>
            <% end %>
            <div class="text-center">
              <a href="<%= login_path %>" class="btn  btn-link">Se connecter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>